header {
  justify-content: center;
  background-color: #4b4a4a;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
}
header img {
  object-fit: cover;
  height: 25%;
  width: 25%;
  margin-left: 10px;
}
header div {
  text-align: justify;
  color: white;
  margin-left: 50px;
  font-size: x-large;
}
header div p:nth-child(3) {
  color: gray;
}
body {
  width: 100%;
  height: 100%;
}
body section {
  width: 100%;
  height: 100%;
  text-align: justify;
}
body section button {
  background-color: white;
  background-size: cover;
  border: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
body section .france {
  background-image: url(/img/france.png);
}
body section .angleterre {
  background-image: url(/img/royaume-uni.png);
}
body section .espagne {
  background-image: url(/img/espagne.png);
}
